{{>layouts/header}}

<div id="question">
    <span style="float: right;"><a href="/logout">로그아웃</a></span>
    <h3>질문등록</h3>
    <br>

    <form action="/admin/createJavaQuestion" method="post">
        <h4>질문</h4>
        <input type="text" name="title" class="question" placeholder="질문을 입력하세요." required>

        <h4>정답</h4>
        <div class="inputWrap">
            <input type="text" name="answer" placeholder="정답을 입력하세요." required>
            <button type="submit">등록</button>
        </div>
    </form>

    {{#javaQuestionList}}
        <h4>{{title}}</h4> <!-- 각 질문의 title 출력 -->
        <p>{{answer}}</p> <!-- 각 질문의 answer 출력 -->
        <hr/> <!-- 구분선 -->
    {{/javaQuestionList}}

</div>

{{>layouts/footer}}
