<div id="battle" class="sideView hideView">
    <div class="screen">
<!--        <div class="captureRate">포획률: 0%</div>-->
        <div class="pokemonArea">
            <img id="pokeImage" class="pokemon" src="" alt="포획할 포켓몬">
            <div id="battlePokeName" class="pokemonName">라이츄</div>
        </div>
        <div id="textBox" class="textBox">
            야생의 라이츄가 나타났다!
        </div>
        <div id="buttonBox" class="buttonBox">
            <button onclick="tryQuestion()">문제를 푼다</button>
            <button onclick="runBattle()">도망간다</button>
        </div>
        <div id="questionBox" class="inputBox hide">
            <input type="text" id="answer" placeholder="답을 입력하세요">
            <button onclick="finishAnswer()">입력</button>
        </div>
    </div>
</div>

<script>
    var questionData = {},
        pokemonData = {},
        isAnswer = false;

    function settingPokemon(data) {
        pokemonData = data;

        $('#pokeImage').attr('src', data.imageUrl);
        $('#battlePokeName').text(data.name);
        $('#textBox').html(`야생의 ${data.name}가 나타났다!`);
        $('#buttonBox').removeClass('hide');
        $('#questionBox').addClass('hide');
        common.showView('battle');
    }

    function settingQuestion(data) {
        isAnswer = false;
        questionData = data;
    }

    function tryQuestion() {
        $('#textBox').text(questionData.title);
        $('#answer').val('').focus();

        $('#buttonBox').addClass('hide');
        $('#questionBox').removeClass('hide');
    }

    async function finishAnswer() {
        if(isAnswer) return;

        let $answer = $('#answer'),
            $battlePokeName = $('#battlePokeName');

        isAnswer = true;

        if($answer.val() == questionData.answer) {
            const getRandomPokeRes = await util.fetchJsonData('/poke/catchPokemon', {
                pokemonId: pokemonData.pokemonId
            });

            if(!getRandomPokeRes.result) {
                util.showToastMsg(getRandomPokeRes.msg);
                common.showView('field');
                return;
            }

            util.showToastMsg(`[${$battlePokeName.text()}]를 포획했다!`, "S");

            pokemonData.myPokemonId = getRandomPokeRes.data;
            myPokeList.push(pokemonData);

            let index = myPokeList.length - 1;
            addPoke(myPokeList[index], index);

            common.showView('field');
        }else {
            util.showToastMsg(`정답은 [${questionData.answer}]였다! 포켓몬이 도망갔다!`);
            setTimeout(() => {
              common.showView('field');
            }, "1000");
        }
    }

    function runBattle() {
        common.showView('field');
    }
</script>