<div id="myPoke" class="sideView hideView">
    <div id="sidebar" class="sidebar hide">
        <h2 id="pokemonName">포켓몬 이름</h2>
        <img id="pokemonImage" src="" alt="포켓몬 이미지" style="display:none;">
        <p id="pokemonNumber">No.000</p>
        <p id="pokemonTypes"></p>
        <button id="detailsButton" class="hide" onclick='viewDetails()'>자세히 보기</button>
        <button onclick="common.showView('field')">돌아가기</button>
        <button id="releaseButton" onclick="releasePokemon()" style="margin-top: 20px; background: #ff6a6a;">놓아준다</button>
    </div>

    <!-- 포켓몬 저장 박스 -->
    <div class="storageBox" id="storageBox"></div>
</div>

<script>
    var myPokeList = {{#myPokeList}} {{{.}}} {{/myPokeList}};
    console.log(myPokeList);

    function addPoke(data, index) {
        let pokeInfo = '';

        pokeInfo = `<div class="pokemonCell" onclick="viewPoke(${index})">
                        <img src="${data.imageUrl}" alt="${data.name}">
                    </div>`;

        $('#storageBox').append(pokeInfo);
    }

    function MyPokeDefaultSetup() {
        for(let index in myPokeList) {
            addPoke(myPokeList[index], index);
        }
    }

    function viewPoke(index) {
        let data = myPokeList[index];

        $('#sidebar').removeClass('hide');
        $('#pokemonName').text(data.name);
        $('#pokemonImage').attr('src', data.imageUrl).show();
        $('#pokemonNumber').text(`NO.${data.pokemonId}`);
        $('#pokemonTypes').text(data.types);
        $('#detailsButton')
        .attr('onclick', `viewDetails('${data.name}', '${data.pokemonId}', '${data.imageUrl}', '${data.types}', '${data.height}', '${data.weight}')`)
        .removeClass('hide');
        $('#releaseButton').attr('onclick', `releasePokemon(${index})`);
    }

    async function releasePokemon(index) {
        let data = myPokeList[index];

        const releasePokemonRes = await util.fetchJsonData('/poke/putMyPokemon', {
            myPokemonId: data.myPokemonId
        });

        if(!releasePokemonRes.result) {
            util.showToastMsg(releasePokemonRes.msg);
            return;
        }

        $('.pokemonCell').eq(index).remove();
        util.showToastMsg(`[${data.name}]을 놓아줬다!😢`, 'S');
        $('#sidebar').addClass('hide');
    }

    MyPokeDefaultSetup();
</script>
